* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #faf3e8;
    font-family: "Poppins", sans-serif;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 1000px;
    width: 100%;
}

.nav {
    text-align: right;
    margin-bottom: 20px;
}

.nav a {
    margin-left: 15px;
    color: #c9a27e;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background: #c9a27e;
    opacity: 0.5;
    margin-bottom: 20px;
}

.section {
    background: rgb(248, 200, 127);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.section2 {
    background: rgba(161, 91, 53, 0.557);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 12px; 
    padding: 10px;
    margin-top: 20px;
}

.images img {
    width: 230px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.25s ease;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}


.image img:hover {
    transform: scale(1.05);
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    opacity: 0.7;
}
